{% extends "base.html" %}

{% block content %}
    <h1>Todo Lists</h1>

    <a href="{% url 'create_todo' %}" class="btn btn-success mb-3">
    + Add Todo
    </a>

    <ul>
        {% for todo in todos %}
            <li>
                {{ todo.title }}: 
                {% if todo.completed %}
                    Completed
                {% else %}
                    Not Completed
                {% endif %}

                <!-- Edit button -->
                <a href="{% url 'edit_todo' todo.id %}" class="btn btn-sm btn-warning ml-2">
                    Edit
                </a>

                <!-- Delete button -->
                <a href="{% url 'delete_todo' todo.id %}" class="btn btn-sm btn-danger ml-2">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}